
  <div mat-dialog-title>
    <h1>{{data? 'update Form': 'Add Form'}}</h1>
</div>
<form [formGroup]="patientForm">
<div mat-dialog-content class="content">
    <div class="row">
      <div class="error-message" *ngIf="patientForm.get('patientName')?.invalid && patientForm.get('patientName')?.touched">
        Please enter a valid Patient name.
      </div>
      <div *ngIf="patientForm.get('patientName')?.hasError('minlength')">
        Patient Name must be at least 4 characters.
      </div>
      <div *ngIf="patientForm.get('patientName')?.hasError('containsNumber')">
        Patient name cannot contain numbers.
      </div>
        <mat-form-field appearance="outline">
            <mat-label>FirstName</mat-label>
            <input matInput type="text" formControlName="patientName" placeholder="Librarian Name">
          </mat-form-field>

          <div *ngIf="patientForm.get('email')?.hasError('required')">
            Email is required.
          </div>
          <div *ngIf="patientForm.get('email')?.hasError('email')">
            Please enter a valid email address.
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input matInput type="text" formControlName="email" placeholder="Email Id ">
          </mat-form-field>      
    </div>
    
      <div class="row">
        <div *ngIf="patientForm.get('address')?.hasError('required')">
          Address is required.
        </div>
        <div *ngIf="patientForm.get('address')?.hasError('minlength')">
          Address must be at least 5 characters.
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="email" formControlName="address" placeholder="Address">      
         </mat-form-field> 
         <div *ngIf="patientForm.get('dob')?.hasError('required')">
          Date of Birth is required.
        </div>        
        <mat-form-field>
          <mat-label>Date Of Birth</mat-label>
          <input  matInput required [matDatepicker]="picker" formControlName="dob" placeholder="Date Of Birth">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
         <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="text" formControlName="phoneNo" placeholder="phoneNo">      
       </mat-form-field>          
    </div>   
<div mat-dialog-action class="action">
  <button mat-raised-button type="button" [mat-dialog-close]="false">cancel</button>
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit(patientForm.value)">{{data1 ? 'Update': 'save' }}</button>
</div>  
</div>
</form> 
  