.container {
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    color: #4CAF50;
  }
  
  .success-icon {
    font-size: 80px;
    color: #4CAF50;
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
  }
  .session-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 50px;
    margin-right: 50%;
  }
  .session-btn {
   margin-left: 80%;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#payment-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}