
   <div class="image-grid">
    <div *ngFor="let imageUrl of imageUrls" class="image-item">
      <div class="image-container">
        <img [src]="imageShow(imageUrl?.imgLoc)" alt="Image">
      </div>
      <div class="image-details">
        <table>
          <tr>
            <td><strong>Author:</strong></td>
            <td>{{ imageUrl?.excelLoc }}</td>
          </tr>
          <tr>
            <td><strong> Book Name:</strong></td>
            <td>{{ imageUrl?.userName }}</td>
          </tr>
          <tr>
            <td><strong>Price:</strong></td>
            <td>{{ imageUrl?.fileLoc }}</td>
          </tr>
        </table>
        <button mat-raised-button class="custom-button button-gap button-container " color="warn" (click)="openpay()"  >
         BOOK SLOT
          </button>
      </div>
    </div>
  </div>
  
  
  

